<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
        <link rel="icon" href="https://img.icons8.com/material/4ac144/256/user-male.png">
        <link rel="stylesheet" href="./css/style1.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>{{name}}</h1>
            <h2>{{desc}}</h2>
        </div>
        {{>footer}}
    </body>
</html>