<!DOCTYPE html>
<html>
    <head>
        <title>Help page</title>
        <link rel="icon" href="https://img.icons8.com/material/4ac144/256/user-male.png">
        <link rel="stylesheet" href="./css/style1.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>Welcome to help page</h1>
            <span>About Page: {{about}}</span><br>
            <span>Home Page: {{home}}</span>
        </div>
        {{>footer}}
    </body>
</html>
